.result-screen {

  &__back-button {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 15px 20px;
    border-bottom: 1px solid #E0E0E0;
  }

  &__main {
    display: flex;
    column-gap: 48px;
    padding: 24px 48px;
  }

  &__document {
    width: 50%;
  }

  &__document-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .document-buttons {
      display: flex;
      gap: 8px;
    }

    .document-button {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 3px 13px;
      border-radius: 8px;
      border-color: #D3D3D3;
      border-style: solid;
      border-width: 1px;
      box-shadow: none;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      color: #1C1C1C;
      background: #fff;
      cursor: pointer;
    }

    .not-active-button {
      background: #0067F5;
      color: #fff;
    }
  }

  &__document-content {
    margin-top: 16px;
    padding: 0 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background: #ECECEC;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 48px 16px 48px;
  }
}


//.result-screen{
//  background-color: #F5F5F5;
//  display: flex;
//  flex-direction: column;
//  width: 100%;
//  height: 100%;
//  .navigation-back {
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    padding: 15px;
//    font-size: 18px;
//    font-weight: 400;
//    line-height: 26px;
//    text-align: left;
//    height: 56px;
//    width: 100%;
//    border-bottom: 1px solid #E0E0E0;
//    .navigation-back-button {
//      cursor: pointer;
//    }
//    img {
//      width: 16px;
//      margin-right: 20px;
//    }
//  }
//  section{
//    display: flex;
//    width: 100%;
//    height: 100%;
//    gap: 48px;
//    padding: 24px 48px 16px 48px;
//    article{
//      width: 50%;
//    }
//  }
//  footer{
//    display: flex;
//    justify-content: space-between;
//    padding: 0 48px;
//    margin-bottom: 24px;
//    font-size: 12px;
//    font-weight: 400;
//    color: #1C1C1C;
//    img {
//      width: 106px;
//      height: 20px;
//    }
//  }
//  .content-view{
//    height: 100%;
//    &__header{
//      display: flex;
//      justify-content: space-between;
//      margin-bottom: 16px;
//      span{
//        font-size: 24px;
//        font-weight: 500;
//        line-height: 32px;
//        color: #1C1C1C;
//      }
//    }
//    &__header-buttons {
//      display: flex;
//      gap: 10px;
//    }
//    &__content{
//      background-color: #fff;
//      border: solid 1px #E0E0E0;
//      border-radius: 8px;
//      height: calc(100% - 50px);
//      padding: 20px;
//      overflow: auto;
//
//      img {
//        width: 100%;
//      }
//    }
//    .copy-and-save-buttons {
//      background: #fff;
//      color: #1C1C1C;
//      border: 1px solid #D3D3D3;
//    }
//  }
//  .document-text {
//    text-align: left;
//  }
//  .document-text-empty {
//    font-size: 16px;
//    color: #1C1C1C;
//    text-align: center;
//    margin-top: 50%;
//    display: none;
//    img {
//      width: 72px;
//      height: 72px;
//    }
//  }
//
//  .show-warning {
//    display: block;
//  }
//}

