$blue-color: #0067F5;
$white-color: #FFF;

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index:  10;
  left:  0;
  top:  0;
  width:  100%;
  height:  100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 240px;
  padding: 48px;
  border-radius: 16px;
  background: $white-color;

  &__spinner {
    width: 48px;
    height: 48px;
    border: 3px solid $blue-color;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &__text {
    color: $blue-color;
  }

  &__cancel-button {
    padding: 8px 16px;
    color: $white-color;
    border: none;
    border-radius: 8px;
    background: $blue-color;
  }
}



//:root {
//  --font-family: Inter;
//  --white-bg: #FFF;
//  --blue-color: #0067F5;
//  --border-radius:  16px;
//}
//
//@keyframes fadeIn {
//  0% { opacity: 0; }
//  100% { opacity: 1; }
//}
//
//input[type="file"] {
//  display: none;
//}
//
//.modal {
//  display: flex;
//  align-items: center;
//  font-family: Inter;
//  position: fixed;
//  z-index:  10;
//  left:  0;
//  top:  0;
//  width:  100%;
//  height:  100%;
//  overflow: auto;
//  background-color: rgba(0,0,0,0.5);
//  //opacity:  0;
//  //transition: opacity  0.3s ease-in-out;
//  //pointer-events: none;
//
//  .modal-inner {
//    width:  240px;
//    margin: auto;
//    padding:  48px  24px  24px  24px;
//    border-radius:  16px;
//    background: #FFF;
//  }
//
//  .add-new-file-modal {
//    width:  320px;
//    margin: auto;
//    padding: 24px;
//    border-radius:  16px;
//    background: #FFF;
//    .modal-header {
//      display: flex;
//      justify-content: space-between;
//
//      .modal-title {
//        font-size:  18px;
//        font-weight:  700;
//      }
//
//      .close-button {
//        cursor: pointer;
//      }
//    }
//    .add-new-file-icon {
//      margin-top: 48px;
//      margin-bottom: 16px;
//    }
//    .add-new-file-modal-button {
//      width: 100%;
//    }
//  }
//
//  .spinner-container {
//    margin-bottom:  32px;
//
//    .loader {
//      width: 48px;
//      height: 48px;
//      border: 3px solid #0067F5;
//      border-bottom-color: transparent;
//      border-radius: 50%;
//      display: inline-block;
//      box-sizing: border-box;
//      animation: rotation 1s linear infinite;
//    }
//
//    @keyframes rotation {
//      0% {
//        transform: rotate(0deg);
//      }
//      100% {
//        transform: rotate(360deg);
//      }
//    }
//
//    .loading-message {
//      margin-top:  8px;
//      color: #0067F5;
//      font-size:  14px;
//    }
//  }
//
//  .error-modal {
//    margin: auto;
//    width:  448px;
//    border-radius:  16px;
//    background: #FFF;
//    animation: fadeIn 1s;
//    .modal-header {
//      padding:  16px;
//      display: flex;
//      justify-content: space-between;
//
//      .modal-title {
//        font-size:  18px;
//        font-weight:  700;
//      }
//
//      .close-button {
//        cursor: pointer;
//      }
//    }
//
//    .modal-body {
//      padding:  0  16px  16px  16px;
//      .error-info {
//        display: flex;
//        justify-content: start;
//        //align-items: center;
//        font-size:  14px;
//        font-weight:  400;
//
//        .error-message {
//          margin-left:  10px;
//        }
//      }
//      .confirm-button {
//        margin-left: 88%;
//      }
//    }
//  }
//}
//
//.modal--hide {
//  display: none;
//}
//
//.modal--show {
//  opacity: 1;
//  pointer-events: auto
//}
